<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AppConnectionString" connectionString="OHpqlONT6PeoHFMc5PDUO8Jw0v0w82hNSYICQuBYj9XX+H+gJvyn/DRiSXSUZoe9Or4ki/wtaOIYnaPuDCNH7X+xjUYDe8j1kb+4dM0x1yhzApj5+6bb51lZIgGtJm9BQ3AIKlzp2BP9SMj4Gp9QwuJUiCpc6dgT/Uj2PFw0UUTBN5RGjQaP1Zz/C0e0t57hGSeVebJxZqW9rM=" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <licenseStrings>
    <add name="AppLicenseString" licenseString="vziA0+rfpMBInseAAFYc4Q4pAKSIK+SPyg83XYvpNvk=" />
  </licenseStrings>
</configuration>